header {
  height: 100px;
  background-color: #444;
  width: 1080px;
}

body {
  width: 1080px;
}

nav {
  height: 70px;
}

nav img {
  display: inline-block;
  margin: 15px;
  margin-left: 60px;
}

.navi {
  display: inline-block;
  vertical-align: top;
}

nav li {
  display: inline-block;
  line-height: 70px;
  padding: 0 45px;
}

.mainimage {
  width: 960px;
  display: block;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 30px;
}

div{
  display: inline-block;
  margin-top: 30px;
}

main li {
  display:inline-block;
  padding: 0 15px;
}

section {
  margin-top: 30px;
  margin-left: 60px;
}

section img {
  float: left;
  clear: left;
}

section div {
  overflow: scroll;
}

footer {
  height: 100px;
  width: 1080px;
  background-color: #444;
}