header {
  height: 100px;
  background-color: #444;
}

nav {
  height: 70px;
}

nav img {
  display: inline-block;
}

.navi {
  display: inline-block;
}

nav li {
  display: inline-block;
  text-align: center;
  line-height: 70px;
  
}